<footer class="footer footer--light">
            <div class="container">
                <div class="footer__widgets">
                    <div class="row">

                        <div class="col-lg-3 col-md-6">
                            <aside class="widget widget-logo">
                                <a href="index.html">
                                    <img src="~/img/mardemaydan.jpg" srcset="img/logo_default_white.png 1x, img/logo_default_white@2x.png 2x" class="logo__img" alt="">
                                </a>
                                <p class="copyright">

                                 mojtaba.web

                                </p>
                                <div class="socials socials--large socials--rounded mb-24">
                                    <a href="#" class="social social-facebook" aria-label="facebook"><i class="ui-facebook"></i></a>
                                    <a href="#" class="social social-twitter" aria-label="twitter"><i class="ui-twitter"></i></a>
                                    <a href="#" class="social social-google-plus" aria-label="google+"><i class="ui-google"></i></a>
                                    <a href="#" class="social social-youtube" aria-label="youtube"><i class="ui-youtube"></i></a>
                                    <a href="#" class="social social-instagram" aria-label="instagram"><i class="ui-instagram"></i></a>
                                </div>
                            </aside>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <aside class="widget widget_nav_menu">
                                <h4 class="widget-title">هشتگ های داغ</h4>
                                <ul>
                                    <li><a href="about.html">#خیریه</a></li>
                                    <li><a href="contact.html"># مرد میدان</a></li>
                                    <li><a href="categories.html">#کارآفرینی </a></li>
                                    <li><a href="shortcodes.html">#اشتغال زایی</a></li>
                                    <li><a href="shortcodes.html"># مهربانی</a></li>
                                    <li><a href="shortcodes.html">#همراهی </a></li>
                                </ul>
                            </aside>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <aside class="widget widget-popular-posts">
                                <h4 class="widget-title">تماس با ما</h4>
                                   <h3 class="post-list-small__entry-title">
                                                     
                                                    <a href="single-post.html">  09196582110 
 </a>
                                                </h3>
                                <ul class="post-list-small">
                                    <li class="post-list-small__item">
                                        <article class="post-list-small__entry clearfix">
                                            <div class="post-list-small__img-holder">
                                                <div class="thumb-container thumb-100">
                                                    <a href="single-post.html">
                                                        <img data-src="img/content/thumb/cchh.jpg" src="img/empty.png" alt="" class="post-list-small__img--rounded lazyload">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-list-small__body">
                                                <h4 class="widget-title">آدرس:</h4>
                                                <h3 class="post-list-small__entry-title"></h3>
                                                     
                                                    <a href="single-post.html"> <br />شهرستان قروه<br />آماده ارائه خدمات هستیم </a>
                                                <ul class="entry__meta">
                                                    <li class="entry__meta-author">
                                                        <span>نویسنده:</span>
                                                        <a href="#">مجتبی بابایی</a>
                                                    </li>
                                                    <li class="entry__meta-date">
                                                        دی 1401
                                                    </li>
                                                </ul>
                                            </div>
                                        </article>
                                    </li>
                                    <li class="post-list-small__item">
                                        <article class="post-list-small__entry clearfix">
                                            <div class="post-list-small__img-holder">
                                                <div class="thumb-container thumb-100">
                                                    <a href="single-post.html">
                                                        <img data-src="img/content/thumb/gh1.jpg" src="img/empty.png" alt="" class="post-list-small__img--rounded lazyload">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-list-small__body">
                                                <h3 class="post-list-small__entry-title">
                                                    <a href="single-post.html">موسسه خیریه مرد میدان</a>
                                                </h3>
                                                <ul class="entry__meta">
                                                    <li class="entry__meta-author">
                                                        <span>نویسنده:</span>
                                                        <a href="#">مجتبی بابائی</a>
                                                    </li>
                                                    <li class="entry__meta-date">
                                                        دی 1401
                                                    </li>
                                                </ul>
                                            </div>
                                        </article>
                                    </li>
                                </ul>
                            </aside>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <aside class="widget widget_mc4wp_form_widget">
                                <h4 class="widget-title">خبرنامه</h4>
                                <p class="newsletter__text">
                                    <i class="ui-email newsletter__icon"></i>
                                    برای اطلاع از آخرین خبرها مشترک شوید
                                </p>
                                <form class="mc4wp-form" method="post">
                                    <div class="mc4wp-form-fields">
                                        <div class="form-group">
                                            <input type="email" name="EMAIL" placeholder="ایمیل" required="">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-lg btn-color" value="عضویت">
                                        </div>
                                    </div>
                                </form>
                            </aside>
                        </div>

                    </div>
                </div>
            </div> <!-- end container -->
        </footer> <!-- end footer -->