@using CodeYad_Blog.CoreLayer.Utilities
@model List<CodeYad_Blog.CoreLayer.DTOs.ShowSlids.ShowSlidDto>
@{

   
}



@foreach (var item in Model)
{
       <div class="responsive">
  <div class="gallery">
    <a target="_blank" href="@Directories.GetPostImage(item.ImageName)">
      <img style="max-width: 1500px" src="@Directories.GetPostImage(item.ImageName)" alt="@item.ImageFile">
    </a>
    <div class="desc">@item.Title</div>
  </div>
</div> 

}





<div class="clearfix"></div>

